@page
@model iOrder.Pages.AdminModel
@{
}
<head>
    <!--TO DO: add Css page to format pages-->

</head>

<body>
    
    <!--Title: Admin's Home Page-->
    <div>

    </div>

    <!--Here is the location of all the highlights IE best sellers etc-->
    <div>
    </div>
 
    <!--Here's a dropdown to pick a restaurant and get the metrics on its specifics-->
    <div>

    </div>

</body>